# Terraform state files
*.tfstate
*.tfstate.*
.terraform/
.terraformrc
terraform.rc

# Variable definition files
*.tfvars
*.tfvars.json

# Crash log files
crash.log

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Provider-specific files (examples)
# .terraform-lock.hcl # Uncomment if you want to ignore this